// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import '../../../../../../node_modules/startbootstrap-sb-admin-2/scss/sb-admin-2';
@import '../../../../../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css';
@import 'sidebar';
@for $i from 2 through 10 {
    .flex-grow-#{$i} {
        flex-grow: $i !important;
    }
}
body {
    height: 100%;
    overflow-x: hidden;
}
.navbar-nav {
    .nav-item {
        &.active {
            font-weight: bold;
        }
    }
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.09);
}
th.text-center {
    text-align: center !important;
}
.bootstrap-select {
    flex: 1;
}
.selectpicker-form-group {
    display: flex;
    width: 100%;
}

fieldset {
    border: 1px solid #dedede;
    padding: 16px;
    margin-top: 3px;
    legend {
        font-size: 16px;
        text-transform: uppercase;
        width: auto;
        padding: 0 10px;
        background-color: #fafafa;
        border: 1px solid #f3f1f9;
        color: $primary;
    }
}
.table-legend {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: #868e96;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    padding: 8px 12px;
}
.img-profile {
    font-size: 32px;
}


.bg-gradient-primary {
    background-color: #009CDC;
    background-image: linear-gradient(180deg, #E2E2E2 10%, #c6c6c6 100%);
    background-size: cover;
}
.text-title-section {
    color: #F8A900;
    font-size: 30px;
    font-weight: 600;
}
.text-subtitle-section {
    color: #75737E;
    font-size: 22px;
    font-weight: 600;
}
.btn-group-flex {
	.btn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.dashboard-home-card {
    &:hover {
        text-decoration: none;
        transform: scale(1.02);
    }
}
.form-group--error {
    color: $red;
    .form-control {
        // color: $red;
        border-color: rgba($red, 0.8);
        &::placeholder {
            // color: rgba($red, 0.8);
        }
        &:focus {
            border-color: rgba($red, 1);
            box-shadow: 0 0 0 0.2rem rgba($red, 0.25);
        }
    }
}
.form-group__error {
    color: $red;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0;
    margin-top: 6px;
}

.dataTables_length, .dataTables_filter {
    width: 50%;
    float: left;
}