// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '../vendor/startbootstrap-sb-admin-2/scss/sb-admin-2';
@import '~simple-datatables/src/style.css';
@import 'sidebar';
* {
    font-family: 'Nunito', sans-serif;
}
@for $i from 2 through 10 {
    .flex-grow-#{$i} {
        flex-grow: $i !important;
    }
}
.form-control {
    min-height: 33px;
}
body {
    height: 100%;
    overflow-x: hidden;
}
.headband {
    .navbar-nav {
        .nav-item {
            .nav-link {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #535353;
                font-size: 12px;
                text-transform: uppercase;
                * {
                    margin-left: 7.5px;
                    white-space: nowrap;
                    overflow: hidden;
                    &:first-child {
                        margin-left: 0;
                    }
                }
                &:hover {
                    color: $pink;
                }
            }
            &.active {
                font-weight: bold;
            }
        }
        .nav-item-separator {
            &::after {
                content: '|';
                justify-content: center;
                align-items: center;
                display: flex;
                height: 100%;
                margin: 0 10px;
            }
        }
    }
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.09);
}
th.text-center {
    text-align: center !important;
}
.bootstrap-select {
    flex: 1;
}
.selectpicker-form-group {
    display: flex;
    width: 100%;
}

fieldset {
    border: 1px solid #dedede;
    padding: 16px;
    margin-top: 3px;
    legend {
        font-size: 16px;
        text-transform: uppercase;
        width: auto;
        padding: 0 10px;
        background-color: #fafafa;
        border: 1px solid #f3f1f9;
        color: $primary;
    }
}
.table-legend {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: #868e96;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    padding: 8px 12px;
}
.img-profile {
    font-size: 32px;
}


.bg-gradient-primary {
    background-color: #009CDC;
    background-image: linear-gradient(180deg, #E2E2E2 10%, #c6c6c6 100%);
    background-size: cover;
}
.text-title-section {
    color: #F8A900;
    font-size: 30px;
    font-weight: 600;
}
.text-subtitle-section {
    color: #75737E;
    font-size: 22px;
    font-weight: 600;
}
.btn-group-flex {
	.btn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.dashboard-home-card {
    &:hover {
        text-decoration: none;
        transform: scale(1.02);
    }
}
.form-group--error {
    color: $red;
    .form-control {
        // color: $red;
        border-color: rgba($red, 0.8);
        &::placeholder {
            // color: rgba($red, 0.8);
        }
        &:focus {
            border-color: rgba($red, 1);
            box-shadow: 0 0 0 0.2rem rgba($red, 0.25);
        }
    }
}
.form-group__error {
    color: $red;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0;
    margin-top: 6px;
}

.dataTables_length, .dataTables_filter {
    width: 50%;
    float: left;
}
#iframe-full-auto-adjustable {
    width: 100%;
    border: none;
}

a.paginate_button {
    border: 1px solid #dee2e6;
    margin: 1px;
    padding: 5px 16px;
    cursor: pointer;
    background-color: #FFF;
    color: #007bff;
    transition: 1s;
    &.current {
        background: #c5c5c5;
        color: #fff;
        border: 1px solid #a5a5a5;
        cursor: default;
    }
}

.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
    z-index: 0;
}
.input-group .btn {
    z-index: 0;
}
.cursor-pointer {
    cursor: pointer;
}


.card-header, .card-footer {
    position: relative;
    min-height: 38px;
}
.card-header-btns {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

button.badge {
    border: none;
    &:active {
        background-color: #e08f01 !important;
    }
}
.text-right {
    text-align: right !important;
}
.table-column-fitted {
    width: 1px;
    white-space: nowrap;
}
.table-layout-fixed {
    table-layout: fixed;
}